@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(231, 111, 81);
  --foreground: 240 10% 3.9%;
  --border: rgb(42, 157, 143);
  --shadow: rgb(17, 65, 59);
  --shadow-sm: rgb(0, 0, 0);
}

.dark {
  --background: rgb(60, 22, 66);
  --foreground: 0 0% 98%;
  --border: rgb(175, 252, 65);
  --shadow: rgb(60, 22, 66);
  --shadow-sm: rgb(0, 0, 0);
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  margin: 0;
  line-height: inherit;
}

img,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

:focus-visible {
  outline: none;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

main {
  padding-top: 100px;
}

.shadow-text {
  text-shadow: 0 4px 4px var(--shadow);
}
.shadow-text-sm {
  text-shadow: 0 2px 2px var(--shadow-sm);
}
